body{
    background-color: midnightblue;
    color: white;
}

img{
    max-width: 100%;
    height: auto;
}

.textiogmynd{
    font-size: larger;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.myndarod{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 480px){
    .myndarod{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 960px){
    .myndarod{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (min-width: 480px){
    .textiogmynd{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 960px){
    .textiogmynd{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
}


