h1{
    background: indianred;
    color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin: 0%;
}

body{
    background: beige;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    border: 10px solid indianred;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

}
h2,h3,h4,h5,h6{
    text-decoration: underline;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 40px;
    border: 1px indianred;

}

