* {
    box-sizing: border-box;
  }
  
  body {
    max-width: 960px;
    margin: 0 auto;
  }
  
  h3 {
    text-align: center;
  }
  
  .dalkar2 {
    display: grid;
    grid-template-columns: 240px;
  }
  
  .dalkar3 {
    display: grid;
    grid-template-columns: 240px;
  }
  
  .dalkar4 {
    display: grid;
    grid-template-columns: 240px;
  }
  
  .dalkar2,
  .dalkar3,
  .dalkar4 {
    gap: 32px;
    row-gap: 16px;
    border: 1px solid beige;
    padding: 16px;
  }
  
  header,
  footer {
    background: slategray;
    text-align: center;
    margin-top: 0;
    padding: 16px;
  }
  
  @media screen and (min-width: 600px) {
    .dalkar4 {
      grid-template-columns: 480px 480px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .dalkar2 {
      grid-template-columns: 480px 480px;
    }
  
    .dalkar3 {
      grid-template-columns: repeat(2, 240px);
    }
  
    .dalkar4 {
      grid-template-columns: repeat(2, 240px);
    }
  }
  
  @media screen and (min-width: 960px) {
    .dalkar2 {
      grid-template-columns: 480px 480px;
    }
  
    .dalkar3 {
      grid-template-columns: repeat(3, 240px);
    }
  
    .dalkar4 {
      grid-template-columns: repeat(4, 240px);
    }
  
    .footer {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }  